@import '../../Utils/Parcels/mixins';
#slideWidth {
  min-width: 1240px;
  filter: brightness(80%) contrast(120%);
}

.caroussel {
  @include flexMid(row, center, center);
  width: 1240px;
  height: 415px;
  overflow: hidden;
  position: relative;
  border-radius: 25px;
  margin: 0 auto;
  margin-bottom: 30px;

  .slider {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    object-fit: cover;

    &.active {
      display: block;
    }
  }
  .arrowright {
    position: absolute;
    cursor: pointer;
    right: 20px;
    z-index: 1;
    box-shadow: 0 0 5px #28272780;
    box-shadow: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
  }
  .arrowleft {
    position: absolute;
    cursor: pointer;
    left: 20px;
    z-index: 1;
    border: 1px solid hsl(0, 9%, 62%); /* Couleur de la surbrillance */
    box-shadow: 0 0 5px #28272780;
    box-shadow: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
  }
  .counter {
    position: absolute;
    z-index: 1;
    color: white;
    bottom: 10px;
  }
}
