.banner {
  & .kasa {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    width: 100%;
    height: 225px;
    background-size: cover;
    background-position: center;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('../../assets/Image\ source\ 1.png');
  }

  & .about {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    width: 100%;
    height: 225px;
    background-size: cover;
    background-position: center;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('../../assets/Image\ source\ 2.png');
  }
  h2 {
    color: White;
    font-size: clamp(24px, 4vw, 48px);
  }
}
